.headerDC {
    text-align: center;
    color: rgb(231, 128, 128);
    margin-bottom: 50px !important;
  }
  
  .close-icon {
    font-size: 1.75rem !important;
  }
  
  .containerDC {
    border: 1px solid lightgray;
    padding: 15px 15px;
  }
  
  .paraDC {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 25px;
  }
  .endbtndc {
    margin: 30px;
  }
  .btngp {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  