<h2>Your are in the the Shell of Applications</h2>
<br>

<a routerLink="/">Home</a> &nbsp; &nbsp;&nbsp;&nbsp;
<a routerLink="/layout/layout">Layout</a> &nbsp; &nbsp;&nbsp;&nbsp;
<a routerLink="/acl/acl">Acl</a> &nbsp; &nbsp;&nbsp;&nbsp;
<a routerLink="/acl/user-creation">User Creation</a> &nbsp; &nbsp;&nbsp;&nbsp;
<a routerLink="/onboarding/onboarding">Onboarding</a> &nbsp; &nbsp;&nbsp;&nbsp;

<router-outlet></router-outlet>
<!-- <app-layout *ngIf="showMenu == true && isRestPassword == false"></app-layout>

 <router-outlet *ngIf="!showMenu">
</router-outlet> -->
